---
import Image from "astro/components/Image.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import coverphoto from "../content/decor/landingpage-image.jpg";
import coverphoto2 from "../content/decor/urn.jpeg";

import footerimage from "../content/decor/site-footer.png";

import coverphotoSVG from "../content/decor/svg-cover-scroll.svg";

import Gallery from "../components/gallery.astro";
---

<!doctype html>
<html lang="en">
  <style>
    .coverphotos {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    h1 {
      padding-top: 1ch;
      text-align: center;
      font-variant: small-caps;
    }
    main {
      padding-top: 1vh;
      width: 60ch;
    }
    .bio {
      line-height: 1.4rem;
      margin-inline: auto;
    }
    .index-header {
      white-space: nowrap;
      font-size: calc(min(4vw, 1.5rem));
    }
    @media (max-width: 720px) {
    }
  </style>

  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <body>
    <Header />
    <div class="container">
      <main>
        <a href="projects">
          <Image src={coverphoto} alt="Coverphoto" class="coverphotos" />
        </a>

        <h1 class="index-header">DESIGN + TECHNOLOGY + ART</h1>

        <p class="bio">
          Multi-disciplinary creative spanning traditional crafts, industrial
          arts and interactive digital experiences.
        </p>
        <!-- <a href="/projects/">Projects</a> -->
        <!-- <Gallery /> -->
      </main>
    </div>

    <Footer />
  </body>
</html>
