---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Design + Tech + Art</h1>
      <p>
        Tor Halle-McIntyre is a multi-disciplinary creative spanning traditional
        crafts, industrial arts and interative digital experiences
      </p>
    </main>
    <Footer />
  </body>
</html>
