---
import { Image } from "astro:assets";

const imageMatches = import.meta.glob<{ default: ImageMetadata }>(
  "../gallery/dump2/*.{jpg,JPG,jpeg,png,PNG,webp}",
  { eager: true }
);
const imagesColumn1 = import.meta.glob<{ default: ImageMetadata }>(
  "../gallery/column1/*.{jpg,JPG,jpeg,png,PNG,webp}",
  { eager: true }
);
const imagesColumn2 = import.meta.glob<{ default: ImageMetadata }>(
  "../gallery/column2/*.{jpg,JPG,jpeg,png,PNG,webp}",
  { eager: true }
);
const imagesColumn3 = import.meta.glob<{ default: ImageMetadata }>(
  "../gallery/column3/*.{jpg,JPG,jpeg,png,PNG,webp}",
  { eager: true }
);
const c1 = Object.values(imagesColumn1);
const c2 = Object.values(imagesColumn2);
const c3 = Object.values(imagesColumn3);
---

<div class="gallery-frame">
  <!--  -->
  <div class="gallery-flex">
    {
      c1.map((img) => (
        <Image
          src={img.default}
          alt="img"
          width="1200"
          height="750"
          class="gallery-image"
        />
      ))
    }
  </div>
  <div class="gallery-flex">
    {
      c2.map((img) => (
        <Image
          src={img.default}
          alt="img"
          width="1200"
          height="750"
          class="gallery-image"
        />
      ))
    }
  </div>
  <div class="gallery-flex">
    {
      c3.map((img) => (
        <Image
          src={img.default}
          alt="img"
          width="1200"
          height="750"
          class="gallery-image"
        />
      ))
    }
  </div>
</div>

<style>
  :root {
    --gallery-gaps: 0.2em;
  }
  .gallery-frame {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;

    gap: var(--gallery-gaps);
    justify-content: center;
    padding: 0%;
  }
  .gallery-flex {
    display: flex;
    flex-shrink: 1;
    flex-basis: calc(100vw / 3);
    flex-direction: column;
    gap: var(--gallery-gaps);
  }
  @media (max-width: 520px) {
    .gallery-flex {
      /* width: 100%; */
    }
    .gallery-frame {
      flex-direction: column;
    }
  }
</style>
