---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <a href="/">
      <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
      <div class="nametag">
        <h2 class="fullname">TOR HALLE-MCINTYRE</h2>
        <h2 class="shortname">TOR</h2>
      </div>
      <div class="internal-links">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
      </div>
    </a>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;

    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    border-bottom: 0.1em solid transparent;
    border-bottom-color: var(--accent);
  }
  h2 {
    margin: 0;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;

    padding: autro;

    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .header-spacer {
  }
  .internal-links {
    display: flex;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .nametag {
    display: flex;
  }
  .shortname {
    display: none;
    font-size: 1.6em;
    font-variant: small-caps;
  }
  .fullname {
    display: block;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
  @media (max-width: 300px) {
    .shortname {
      display: block;
    }
    .fullname {
      display: none;
    }
  }
</style>
