---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <a href="/" class="name-title">
      <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
      <div class="nametag custom-font">
        <h2 class="fullname">Tor Halle-McIntyre</h2>
        <h2 class="shortname">Tor</h2>
      </div>
      <div class="internal-links">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/archive">Archive</HeaderLink>
      </div>
    </a>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 2em;
    padding-top: 1ch;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    border-bottom: 0.1em solid transparent;
    border-bottom-color: var(--accent);
  }
  .container {
  }
  h2 {
    margin: 0;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    text-size-adjust: 2;
  }
  nav {
    display: flex;
    padding: 0 min(1rem, calc(100% - 64px));
    justify-content: left;
  }
  nav a {
    /* padding: 4em 0.5em; */
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    align-content: center;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .name-title {
    margin-right: auto;
  }
  .header-spacer {
  }
  .internal-links {
    display: flex;
    gap: 1ch;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .nametag {
    display: flex;
  }
  .fullname {
    display: block;
  }
  .shortname {
    display: none;
    /* font-size: 1.6em; */
    /* font-variant: small-caps; */
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
  @media (max-width: 50ch) {
    .shortname {
      display: block;
    }
    .fullname {
      display: none;
    }
  }
</style>
